/* Paleta de cores */
:root {
  --azul-claro: #59A5C4;
  --azul-medio: #437F9C;
  --azul-escuro: #2C5873;
  --azul-profundo: #16314B;
  --preto-azulado: #000A23;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--azul-profundo);
  color: white;
}

header {
  background-color: var(--azul-escuro);
  text-align: center;
  padding: 1.5em;
  color: white;
}

h1 {
  margin: 0.3em 0;
  color: var(--azul-claro);
}

nav button {
  background-color: var(--azul-medio);
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background-color: var(--azul-claro);
}

main {
  padding: 20px;
  text-align: center;
}

.intro {
  background-color: var(--azul-escuro);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.equipe ul {
  list-style: none;
  padding: 0;
}

.equipe li {
  background-color: var(--azul-medio);
  margin: 8px auto;
  width: 60%;
  border-radius: 10px;
  padding: 8px;
}

footer {
  background-color: var(--preto-azulado);
  text-align: center;
  padding: 10px;
  color: white;
}

.mapa-container img {
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  margin-top: 20px;
}

.mapa-busca #map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
}

.search-bar button {
  background-color: var(--azul-medio);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.search-bar button:hover {
  background-color: var(--azul-claro);
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.conteudo {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

.pilar {
  background-color: var(--azul-escuro);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: justify;
}

.pilar h2 {
  color: var(--azul-claro);
}

.pilar h3 {
  color: var(--azul-medio);
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: var(--azul-medio);
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.fontes ul li a {
  color: #a8d8f0;
  text-decoration: none;
}

.fontes ul li a:hover {
  text-decoration: underline;
}
